{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title%}
{% block body %}
<div class="d-flex justify-content-center mt-3">
  <div class="d-flex flex-column align-items-center w-100" style="max-width: 400px;">

    <div class="card custom-card w-100 mb-3">
      <div class="card-body text-center">
        <h5 class="card-title">
          <a class="text-decoration-none custom-link a" href="/calci">Casino Calculator</a>
        </h5>
      </div>
    </div>

    <div class="card custom-card w-100 mb-3">
      <div class="card-body text-center">
        <h5 class="card-title">
          <a class="text-decoration-none custom-link a" href="/apron">Apron</a>
        </h5>
      </div>
    </div>

    <div class="card custom-card w-100 mb-3">
      <div class="card-body text-center">
        <h5 class="card-title">
          <a class="text-decoration-none custom-link a" href="/etb">English Text-book</a>
        </h5>
      </div>
    </div>

    <div class="card custom-card w-100 mb-3">
      <div class="card-body text-center">
        <h5 class="card-title">
          <a class="text-decoration-none custom-link a" href="/projects">Projects</a>
        </h5>
      </div>
    </div>

    <div class="card custom-card w-100 mb-3">
      <div class="card-body text-center">
        <h5 class="card-title">
          <a class="text-decoration-none custom-link a" href="/other">Other</a>
        </h5>
      </div>
    </div>

  </div>
</div>
{% endblock body %}


