{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock title %}
{% block body %}
 <div class="container mt-1" style="max-width: 600px;">
    <h2 class="mb-3 text-center">Buy Item</h2>

    <form method="POST" enctype="multipart/form-data" class="border p-4 rounded shadow-sm bg-light">
      {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Your Name</label>
            <input class="form-control" type="text" name="name" id="name" required>
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input class="form-control" type="tel" name="phone" id="phone" pattern="[0-9]{10}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Product ID</label>
            <input class="form-control" type="text" name="product_id" value="{{product_id}}" readonly>
        </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-warning">Submit</button>
      </div>
    </form>
  </div>
{% endblock body %}